$grey: #575757;
$orange: #d97c2b;
$yellow-orange: #f2b138;
$light: #f2cf8d;
$beige-lighter: #EFF0EB;

$background: $beige-lighter;
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $grey;
$primary: $yellow-orange;
$link: $orange;
$fullhd-enabled: false;
$family-secondary: "muli", sans-serif;

$body-background-color: $beige-lighter;

@import "../node_modules/bulma/bulma.sass";

html {
  font-size: 18px;
}

.input::placeholder, .textarea::placeholder, .select select::placeholder {
  color: rgb(54,54,54);
}

hr {
  background-color: $body-background-color;
}
